<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ static_url("bootstrap-5.0.2-dist/css/bootstrap.min.css") }}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>GA-Prüfungsmonitor</title>
  </head>
  <body>
   <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
     <a class="navbar-brand" href="#">GA-Prüfungsmonitor</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="d-flex ms-auto">
       <span class="badge bg-danger" id="socketIndicator">Offline</span>
      </div>
     </div>
    </div>
   </nav>

   <div class="container-fluid">
    <div class="row">
     <div class="col-2">
      <h2>Bereitstellungsraum</h2>
      <div id="examinees"></div>
      <button class="btn btn-success" id="examinee-add">
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16"><path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/><path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/></svg>
       Hinzufügen
      </button>
     </div>
     <div class="col-8">
      <h2>Stationen</h2>
     </div>
     <div class="col-2">
      <h2>Pause</h2>
     </div>
    </div>
   </div>

   <script src="{{ static_url("jquery-3.7.1.min.js") }}" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
   <script src="{{ static_url("bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js") }}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <script src="{{ static_url("socket.js") }}"></script>
   <script src="{{ static_url("app.js") }}"></script>
  </body>
</html>
